<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project.name }} - Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="logo">AI Project Hub</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#features">Features</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>


    <section class="about">
        <h1>{{ project.name }}</h1>
        <div class="blog-intro" style="color: #275DAD" >Learn how {{ project.name }} works.</div>
    </section>

    <div class="blog-body">
    <section class="cta-blog">
        {{project.blogcontent | safe }}
        <p>Check out the <a style="color: rgb(0, 0, 191);" href="{{ project.github }}" target="_blank"><u>GitHub Repo</u></a> or the <a style="color: rgb(0, 0, 191);" href="{{ project.website }}" target="_blank"><u>Live Demo</u></a>.</p>
    </section>
    </div>
    <script src = "/static/script.js"></script>
</body>
</html>

