<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Projects</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="logo" onclick="window.location.href='/'">AI Toolbox</div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/#projects">Projects</a></li>
            <li><a href="/projlist">Live Demo</a></li>
            <li><a href="https://github.com/VITB-Tigers">Github Links</a></li>
            <li><a href="/#contact">Contact</a></li>
        </ul>
    </nav>

    <div class="gapspace"></div>
    <div class="projects hidden">
        <ul>
            <h1>Live Projects</h1>
            {% for i in projects %}
                {% if i.link != '/' %}
            <li class="project-itemx ">
                <h2><a href="{{ i.link }}" target="_blank" class="link">{{ i.name }}</a></h2>

            </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <script src = "/static/script.js"></script>
</body>
</html>
